@charset "UTF-8";

/*.container{ 임시
	display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    'festivalImg festivalTable';
}*/

.festivalImg{
    grid-area: festivalImg;
    width: 400px;
    height: 400px
}

.festivalImg>img{
	width: 300px;
	height: auto;
}

.festivalTable{
	grid-area: festivalTable;
}

festivalTable>table{
	width:100%;
	height:100%;
}
/*이하 유혜경 작업*/

*{
    margin:0;
    padding:0;
    text-align:center;
}

section{
    height: 100%;
}
.space{
    grid-area: br;
}
.searchrow{
    margin:20px;
	
}
.searchdate{
    border: solid 2px #bababa;
    padding: 10px;
    align-content:center
}

.contained{
	height:auto;
	align-items: center;
    text-align: center;
    font-size: 14px;
    margin: 50px 50px 40px;
    align-content: center;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    ;
}
.content{
    list-style-type: none;
    margin: 10px 10px;
    text-align: center;
    padding-top: 5px;
}

.page_form{
    text-align: center;
}
button{
    border:0;
    outline: 0;
    background-color: white;
    font-size: 18px;
    margin: 10px;
    cursor: pointer
}

#firstimg{
	height:100%;
	border-radius:10px;
    width:100%;
}

#title {
    font-size: 16px;
    font-weight: 700;
}

.imgs{
	text-align:center;
	height:450px;
	margin-bottom:3px;
	width:100%;
}