@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&family=Single+Day&display=swap')
	;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
	margin: 0;
	padding: 0;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;    
}

header{
   position: relative;
    
}
header a img{
	    width: 250px;
}
.logininfo{
	align-items: flex-start;
    display: flex;
    right: 30px;
    top: 42%;
    position: absolute;
    font-size: 14px;
}
<<<<<<< HEAD
.mainManu{
    font-size: 18px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
=======
.mainMenu{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
>>>>>>> refs/remotes/origin/#HongJiung
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 500;
}
.mainMenu li a{
	color:#000;
}
.mainMenu li a:hover{
	font-weight: 700;
	 font-size: 16px;
}
.mainMenu li a:target{
	font-weight: 700;
}
.number{
    font-size: 40px;
    font-weight: 900;
}
footer{
    margin:0;
    margin-top: 70px;
}
.social{
    margin:0;
    height:60px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width: 100%;
    display: flex;
	align-items: center;
    justify-content: space-between;
}

.names{
    margin-top: 40px;
    text-align: left;
}

.reference{
    text-align: left;
    margin: 40px 0 80px 0;
}

#refimg{
	height:100%;
    vertical-align: bottom;
    align-items: end;
}

#refname{
    vertical-align: bottom;
    text-align: left;
    align-items: end;
}
a{
    text-decoration: none;
    color: #555;
}