@charset "UTF-8";
article {
	height: 120vh;
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 40px 100px 1fr;
	grid-template-areas: 
						"nav    nav     nav"
						"aside  aside   aside" 
						"section section section"
						
}

section{
	grid-area: section;
}
aside {
	grid-area: aside;
	text-align: center;
	align-items: center;
}

li {
    margin: 3px;
}

#key {
border-color: rgb(110, 110, 110);
box-shadow: none;
border-radius: 10%;
outline: 0;
padding: 1px 2px 1px 2px;
color: black;
background-color: rgb(254, 239, 211);


}

.container {
    text-align: center;
    font-size: 14px;
    font-weight: 1000;
    margin: 50px 100px 40px;
    align-content: center;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,300px);
}

img {
	width: 300px;
	height: 150px;
	object-fit: cover;
  }
  
.content{
	list-style-type: none;
}